/* components/NavBar.module.css */

.nav {
  background-color: #8d99ae;
  padding: 1rem;
  border-bottom: 1px solid #000;
}

.navList {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.navItem {
  margin: 0;
  list-style-type: none;
}

.navLink {
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  padding: 2px 4px;
}

.navLink:hover {
  background-color: #555;
}

.loading {
  opacity: 0;
  transition: all 0.2s ease-in;
}

.loaded {
  opacity: 1;
  transition: all 0.2s ease-in;
}
